/* ==============================
----------  Variables -----------
============================== */
:root
  // --bodyBackgroundColor #fff
  // --colorPrimary #000
  // --colorSecondary #ddd
  // --colorSecondaryLight #f3f3f3
  // --fontPrimary system-ui
  // --fontAlternative "arialmt-light", Helvetica, sans-serif;
  // --navBarHeight 48px

// $colorPrimary = var(--colorPrimary);
// $colorSecondary = var(--colorSecondary);

// $fontPrimary = var(--fontPrimary);
// $fontAlternative = var(--fontAlternative);


/* ==============================
-----------  General ------------
============================== */
body
  background-color var(--bodyBackgroundColor)

main
  background-color var(--bodyBackgroundColor)

h1, h2, h3, h4, p, a, aside
  font-family var(--fontPrimary)

a
  &:link
    color var(--colorPrimary)
  &:hover
    color var(--colorSecondary)

/* ==============================
------------  Menu --------------
============================== */
header
  background-color var(--bodyBackgroundColor)
  box-shadow 0px 4px 0px 0px rgba(0,0,0,0.05)

// .block-category
//   .lbl-category
//     text-transform uppercase
//     font-size 12px
//     font-weight 500

// .block-heading
//   .lbl-heading
//     color $colorPrimary
//     font-size 20px
//     font-weight 300

// .block-title
//   font-size 14px
//   font-family var(--fontPrimary)
//   color #000
//   font-weight 500

  
//   /* ==============================
//   ----------  Articles ------------
//   ============================== */
//   &.article-page
//     .block-title
//       h1
//         font-size 28px
//         font-weight 500
//     .block-author
//       font-size 14px
//     .block-content
//       background-color tansparent
  
//   /* ==============================
//   ------  Wordpress Pages  --------
//   ============================== */
//   &.wordpress-page
//     article
//       .lbl-heading
//         font-size 24px
  
//   /* ==============================
//   ----------  Category  -----------
//   ============================== */
//   &.category-page
//     article
//       .lbl-heading
//         font-size 24px

//   /* ==============================
//   --------- Author page  ----------
//   ============================== */
//   &.author-page
//     article
//       background-color transparent
  
//   /* ==============================
//   --------- Tag page  ----------
//   ============================== */
//   &.tag-page
//     article
//       background-color transparent


// /* ==============================
// -------  Sidebar (right) --------
// ============================== */
// aside
//   [data-appearance="list"]
//     &[data-appearance-first-item="grid"]
//       .article-block-item
//         .block-title
//           font-size 18px

// /* ==============================
// -------  Desktop rules ----------
// ============================== */
// @media screen and (min-width: 1024px)
//   header
//     &.menuType_inline
//       .logo
//         width 170px
  
//   main
//     &.article-page
//       .block-title
//         margin-bottom 16px
//         h1
//           font-size 36px
