/* ==============================
----------  Variables -----------
============================== */
@layer theme
  :root
    --bodyBackgroundColor #fff
    --colorPrimary #3483fa
    --colorSecondary #1a157e
    --layoutWidth 860px
    // --colorSecondaryLight #f3f3f3
    --fontPrimary system-ui
    --colorBlue #0d47a1
    // --fontAlternative "arialmt-light", Helvetica, sans-serif;
    // --navBarHeight 48px

  /* ==============================
  -----------  General ------------
  ============================== */
  body
    background-color var(--bodyBackgroundColor)

  main
    background-color var(--bodyBackgroundColor)

  h1, h2, h3, h4, p, a, aside
    font-family var(--fontPrimary)

  h1, h2, h3
    color var(--colorBlue)

  a
    &:visited
    &:link
      color var(--colorPrimary)
    &:hover
      color var(--colorSecondary)

  article
    h3
      margin 4px 0 12px 0

  .article-page
    .block-title
    .block-info
      text-align center
    
    .block-info
      margin-bottom 32px

  .home-page
    section
      &.block-list
        margin-bottom var(--size-700)
    [data-appearance="list"]
      .article-block-item
        grid-template-columns 40% auto


  /* ==============================
  ------------  Menu --------------
  ============================== */
  header
    background-color var(--bodyBackgroundColor)
    box-shadow 0px 4px 0px 0px rgba(0,0,0,0.05)